# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# IDE/editor settings
.vscode/
.idea/
*.swp

# macOS system files
.DS_Store

# Logs / temp
*.log
*.tmp

# Ignore everything inside output/
output/*

# But don’t ignore the folder itself
!output/.gitkeep

#Input of pdf file
*.pdf